.footer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  &__left {
    display: flex;
    align-items: center;
    width: 20%;
  }
  &__card {
    display: flex;
    align-items: center;
    height: 70px;
  }
  &__cardMedia {
    height: 50px;
    width: 50px !important;
  }
  &__center {
    width: 60%;
  }
  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }
  &__slider {
    width: 65% !important;
  }
}
