.register-container{
    margin-top: 50px;

    
    > h1{
        text-align: center;
        font-size: 35px;
        padding-bottom: 20px;
    }
  
}
.form{
    display: flex;
    justify-content: center;
}